h1{
    background-color: blue;
}
body{
    margin: 0;
    
}
ul.li a{
    
    margin: 25%;
    padding: 8px 10px;
    width: 25%;
    background-color: yellow;
    position: fixed;
    height: 3%;
    overflow: auto;
}
li a.active{
    display: block;
    color:black;
    padding: 8px 15px;
    margin-left: 25%;
    height: 50%;
    text-decoration: none;
}

li a.active{
    background-color: yellow;
    color: black;
}

li a:hover:not(.active){
    background-color: firebrick;
    color: black;
}

div.redes{
    display: block;
    color:black;
    padding: 8px 5px;
    margin-left: 25%;
    height: 50%;
    text-decoration: none;
}
footer{
    text-align: center;
    text-decoration: none;
    background-color: wheat;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16px;
}